<!DOCTYPE HTML>
<html>
    <head>
        <title>Jeffica</title>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/socket.io.min.js"></script>
        <script src="/js/jquery.hotkeys.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <button onclick="move('demo', true)">Run demo (ctrl+d)</button>
        <button onclick="move('takeoff', true);">Takeoff (ctrl+t)</button>
        <button onclick="move('forward', true);">Forward (w)</button>
        <button onclick="move('left', true);">Left (a)</button>
        <button onclick="move('right, true');">Right (d)</button>
        <button onclick="move('back, true');">Back (s)</button>
        <button onclick="move('up', true);">Up (k)</button>
        <button onclick="move('down', true);">Down (m)</button>
        <button onclick="move('clockwise', true);">Clockwise</button>
        <button onclick="move('counterClockwise', true);">Counter Clockwise</button>
        <button onclick="move('stop', true);">Stop! (ctrl+space)</button>
        <button onclick="move('land', true);">Land! (space)</button>
        <label for="speed">Speed:</label> <input type="range" id="speed" min="1" max="10"/>
        <hr/>
        <iframe width="640" height="360" src="//localhost:8001"></iframe>
    </body>
</html>